body {
			font-family: sans-serif;
				background-color:rgb(213,238,255);
	background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: contain;
			
			background-image: url('login.png');
		background-position: center;
		}

		

		* {
			margin: 0 auto;
			padding: 0;

		}
		.menu{
			margin: 0px;
		}
.menu ul {
  background: rgb(43, 43, 43);
  margin: 0;
  list-style-type: none;
  text-align: left;
  padding: 0px 0px 0px 0px;  
  margin-bottom: 100px;
}
.menu li {
  color: #f1f1f1;
  display: inline-block;
  width: 150px;
  font-size: 15px;
  font-weight: bolder;
  height: auto;
  line-height: 40px;
  margin-left: -5px;
  text-align: center;
  
}
.menu a {
  text-decoration: none;
  color: #fff;
  display: block;
}
.menu a:hover {
  background: #F1F1F1;
  color: rgb(0, 0, 0);
}

		.form-tt {
			width: 400px;
			border-radius: 10px;
			overflow: hidden;
			padding: 55px 55px 37px;
			background-color:  rgb(255, 255, 255);
		border-style: solid;
			text-align: center;
		}

		.form-tt h2 {
			font-size: 30px;
			font-weight: bolder;
			color: rgb(0, 0, 0);
			line-height: 1.2;
			text-align: center;
			text-transform: uppercase;
			display: block;
			margin-bottom: 30px;
		}

		.form-tt input[type=text],
		.form-tt input[type=password] {
			font-family: Poppins-Regular;
			font-size: 18px;
			color: rgb(0, 0, 0);
			line-height: 1.2;
			display: block;
			width: calc(100% - 10px);
			height: 45px;
			background: 0 0;
			padding: 10px 0;
			border-bottom: 2px solid rgb(0, 0, 0) !important;
			border: 0;
			outline: 0;
		}

		.form-tt input[type=text]::focus,
		.form-tt input[type=password]::focus {
			color: rgb(255, 255, 0);
		}

		.form-tt input[type=password] {
			margin-bottom: 20px;
		}

		.form-tt input::placeholder {
			color: rgb(0, 0, 0);
		}

		.checkbox {
			display: block;
		}

		.form-tt input[type=submit] {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
			color: rgb(255, 255, 255);
			line-height: 1.2;
			padding: 0 20px;
			min-width: 120px;
			height: 50px;
			border-radius: 25px;
			background: rgb(0, 0, 64);
			position: relative;
			z-index: 1;
			border: 0;
			outline: 0;
			display: block;
			margin: 30px auto;
		}

		#checkbox {
			display: inline-block;
			margin-right: 10px;
		}

		.checkbox-text {
			color: rgb(0, 0, 0);
			font-size: 13 pt;
		}

		.psw-text {
			color: rgb(0, 0, 0);
		}