<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/javascript" th:href="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/add.css}">

</head>

<body class="bg-img">
	<button onclick="window.location.href='/student_home'">Back</button>


	<div th:if="${session.msg}">

		<div class="alert alert-primary" role="alert" th:text="${session.msg}">
		</div>
		<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
	</div>


	<form method="POST" th:action="@{/addTimeTable}" th:object="${newTimeTable}">
		<ul class="form-style-1">
			<h2> Register Class</h2>
			<li>
				<label>Class</label>
				<select class="field-select" th:field=" *{classHP.ID}">

					<option th:each="class : ${classes}" th:value="${class.ID}"><span
							th:text="${class.teacher.fullName}+' | ' +${class.subject.name_subject} +' | ' +${class.time} + ' | '+ ${class.room}">
							Teacher1</span><br />
					</option>


				</select>
				<br><br><br><br>
			<li>
				<input type="submit" value="Register" />
			</li>
		</ul>

	</form>

</body>

</html>