<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/javascript" th:href="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" />
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" th:href="@{/add.css}">
</head>

<body class="bg-img">


	<div class="formde">
		<button onclick="window.location.href='/showTeacherClasses'">Back</button>
		<div th:if="${session.msg}">

			<div class="alert alert-primary" role="alert" th:text="${session.msg}">
			</div>
			<th:block th:text="${#session.removeAttribute('msg')}"></th:block>
		</div>

		<form th:action="@{UpdateMarks}" method="post">
			<ul class="form-style-1">
				<h2> Entry point</h2>
			

				<li>

					<label>ID class</label>
					<input type="text" class="form-control" th:field="*{timetable1.classHP.ID}">

				</li>

				<li>
					<label>Student ID</label>
					<input type="text" class="form-control" th:field="*{timetable1.student.ID}">
				</li>

				<li>
					<label>Mark1</label>
					<input type="text" class="form-control" th:field="*{timetable1.diem1}">
				</li>
				<li>
					<label>Mark2</label>
					<input type="text" class="form-control" th:field="*{timetable1.diem2}">
				</li>
				<li>
					<label>Mark3</label>
					<input type="text" class="form-control" th:field="*{timetable1.diem3}">
				</li>
				<li>

					<input type="submit" value="Submit" />
				</li>

		</form>
		</ul>
</body>

</html>