<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Logout</title>
</head>
<style>
	body {
		font-family: sans-serif;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-image: url('');
	}

	.btnMenu:link,
	.btnMenu:visited {
		background-color: #4e57a6;
		color: white;
		padding: 14px 25px;
		border-radius: 5px;
		margin: 0px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
	}
</style>

<body>
	<!-- Include _menu.html -->
	<th:block th:include="/_menu"></th:block>

	<h1>Logout Successful!</h1>
	<a href="">
</body>

</html>