<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>User Info</title>
   </head>
   <style>
	body {
		font-family: sans-serif;
	}
   
	.btnMenu:link,
	.btnMenu:visited {
		background-color: #4e57a6;
		color: white;
		padding: 14px 25px;
		border-radius: 5px;
		margin: 0px 10px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
	}
   </style>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
      
      
      <h2>User Info Page</h2>
      <h3>Welcome : <span th:utext="${#request.userPrincipal.name}"></span></h3>
      <b>This is protected page!</b>  
      
      <br/><br/>
      
      <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
      
   </body>
   
</html>